*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.active {
  display: block !important;
}

nav {
  background: #b71c1c;
  border-bottom: 1px solid #7f0000;
  color: white;
  height: 30px;
  left: 0;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

nav > span {
  display: block;
  padding: 0 15px;
  float: left;
}

#view-highscore, 
#view-go-home,
section > div {
  display: none;
}

#view-highscore, 
#view-go-home {
  cursor: pointer;
}

#view-timer {
  float: right;
}

#view-timer::before {  
  content: "Time Remaining: ";
}

#timer-seconds::after {  
  content: " Seconds";
}

section {
  margin: 150px auto;
  position: relative;
  width: 700px;
}

#popup-box {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: block;
  left: 0;
  margin-top: -150px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 50px;
}

.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.advice {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.right {
  float: right;
}

button {
  background: #b71c1c;
  border: 1px solid #7f0000;
  border-radius: 30px;
  
  color: white;
  cursor: pointer;
  padding: 15px 30px;
  font-weight: bold;
  text-transform: uppercase;
}


/*
  Styling for Options and Highscore Chart
*/

ul,
ol,
li {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}


#highscore-chart li {
  background: #f05545;
  border-radius: 15px;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  margin: 15px 0;
  padding: 15px;
}

#highscore-chart li:nth-child(even) {
  background: #b71c1c;
}

#highscore-chart .score {
  float: right;
}

.quiz-block ul {
  counter-reset: my-sec-counter;
}

.quiz-block ul,
.quiz-block li {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

.quiz-block li {
  background: #b71c1c;
  border-radius: 5px;
  color: #ffffff;
  margin: 15px 0;
  padding: 15px;
  position: relative;
  padding-left: 50px;
}

.quiz-block li:hover {
  background: #f05545;
}

.quiz-block li:before {
  background-image: linear-gradient(45deg, #b71c1c,   #f05545);
  border-radius: 10px;

  content: "A";

  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: 40px;
  line-height: 35px;
  text-align: center;

}

.quiz-block li:after {
  background: white; 

  counter-increment: my-sec-counter;
  content: counter(my-sec-counter, upper-alpha);
  color: #000000; 
  border-radius: 10px;
  position: absolute;
  left: 7px;
  top: 7px;
  bottom: 7px;
  width: 35px;
  line-height: 35px;
  text-align: center;

 }